res/tmp
res/myname.txt
res/security/**
res/json/**

pythoncode/test.py
pythoncode/stdin.txt
developer_control.py

Cogs_legacy
lib_legacy

community/guild_memo/**
community/memo/**
community/profile/**
community/python/**
community/rules/**

lib/vars_legacy.py

**/__pycache__/**