res/tmp
res/myname.txt
res/security/**
res/json/**
!res/security/securityfiles.txt
!res/json/jsonfiles.txt

pythoncode/test.py
pythoncode/stdin.txt

community/memo/**
community/rev/**
community/profile/**
community/profilerev/**
community/python/**
community/pyrev/**

**/__pycache__
*.pyc